$color1: #49FE79;

.border {
    border: 2px solid rgb(154, 246, 7);
}

.navbarlinks {
  margin: 5px;
  padding: 5px;  
}

li {
    color: #49FE79;
}

.sobre-links a {
  margin: 5px 3px;
}

.animation-1 {
  width: 400px;
  height: 300px;
  
}

.resumo {
  width: 400px;
  
}
