$corinterações: #f4f5f0;
$corbackground: #e6dfd7;
$corsecundaria: #c4c9cd;
$corextra: #5dfc90;


.border {
    border: 2px solid rgb(154, 246, 7);
}

.navbarlinks {
  margin: 5px;
  padding: 5px;

}

.navbar {
  background-color: white;
}

.sobre-links a {
  margin: 5px 3px;
}

.animation-1 {
  width:400px;
  height: 400px;
  
}

.font {
  font-family: 'Aoboshi One', serif;
}

.face {
margin-top: 80px;

}

.skills {
  margin: 0px;
  padding: 5px;
  
  img { 
    opacity: 1;
    transition: opacity 0.3s; 
  }

 img:hover {
    opacity: 0.5; 
  }


  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

}

.sobre-mim-card {
  margin-top: 150px;
}

.iconcv  {

  a { 
    opacity: 1;
    transition: opacity 0.3s; 
  }

 a:hover {
    opacity: 0.5; 
  }
}

.navlinks {
  font-size: 16px;
  transition: font-size 0.3s;

}

.navlinks:hover {
  font-size: 20px;
}

.projectlinks {

  svg {
  margin-right: 7px;
  }

  button { 
    opacity: 1;
    transition: opacity 0.3s;
    text-decoration: none;
    background-color: transparent;
    border: none; 
  }

p button:hover {
    opacity: 0.5; 
  }  
}

.projetos-card {
margin-top: 200px;
}

.saibamais {
  margin:
}