$corinterações: #f4f5f0;
$corbackground: #e6dfd7;
$corsecundaria: #c4c9cd;
$corextra: #5dfc90;


.border {
    border: 2px solid rgb(154, 246, 7);
}

.navbarlinks {
  margin: 5px;
  padding: 5px;  
}


.sobre-links a {
  margin: 5px 3px;
}

.animation-1 {
  width:400px;
  height: 400px;
  
}

.font {
  font-family: 'Aoboshi One', serif;
}

.face {
margin-top: 80px;

}