@import 'normalize.css';
html {
  scroll-behavior: smooth;
}

.navbarlinks {
  margin: 5px;
  padding: 5px;
}

.navbar {
  background-color: white;
}

.sobre-links a {
  margin: 5px 3px;
}

.animation-1 {
  width: 400px;
  height: 400px;
}

.font {
  font-family: "Work Sans", sans-serif;
}

.face {
  margin-top: 85px;
}

.skills {
  padding: 5px;
}

.skills img {
  opacity: 1;
  transition: opacity 0.4s;
}

.skills img:hover {
  opacity: 0.5;
}

.skills p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sobre-mim-card {
  margin-top: 100px;
}

.iconcv a {
  opacity: 1;
  transition: opacity 0.3s;
}

.iconcv a:hover {
  opacity: 0.5;
}

.navlinks {
  font-size: 15px;
  transition: font-size 0.3s;
}

.navlinks:hover {
  font-size: 17px;
}

.projetos-card {
  margin-top: 100px;
}

.projectlinks a {
  margin: 5px;
  color: black;
  opacity: 1;
  transition: opacity 0.3s;
}

.projectlinks a:hover {
  opacity: 0.5;
}

.contactlinks svg {
  margin-right: 10px;
  padding: 5px;
  margin-top: 10px;
}

.contactlinks a {
  opacity: 1;
  transition: opacity 0.3s;
}

.contactlinks a:hover {
  opacity: 0.5;
}

.contatos1 {
  margin-top: 80px;
  margin-bottom: 20px;
}

.mt {
  margin-top: 50PX;
}

